h1 {
    font-size: 40px;
}

.main-content {
    margin-top: 56px;
    margin-left: 200px;
    padding: 16px;
    width: calc(100% - 200px);
    transition: all 0.1s;
    position: relative;
    background-clip: content-box;
    &.shrunken {
        margin-left: 56px;
        width: calc(100% - 56px);
    }
}
