<form #form="ngForm">
    <div class="form-group">
        <label>
            <span>*</span>
            未绑定设备的批量上传
        </label>
        <!--<base-upfile [model]="file.config" (fileready)="filehasup($event)"></base-upfile>-->
        <div [style.display]="'none'">
            <input type="file" id="{{id}}" class="form-control" (change)="canup($event)" [ngClass]="{'fileError':fileError}" [accept]="accept">
        </div>
        <div class="main-file">
            <div class="form-control" [ngClass]="{'fileError':fileError}">
                <span (click)="selectFile()">选择文件</span>
            </div>
            <div class="progressBar" [style.width]="progressBar+'%'" [ngClass]="{'fileError':fileError}"></div>
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" [disabled]="cannotupload" (click)="uploadTemplate()">上传</button>
        <button type="button" class="btn btn-primary" (click)="downloadTemplate()">下载模板</button>
    </div>
</form>