form {
    margin-bottom: 16px;
    padding: 16px;
    background: #fff;
    float: left;
    width: 100%;
    border: 1px solid #dfdfdf;
    background: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);

    > div {

        > label {
            font-size: 14px;
            font-weight: 500;
            position: relative;

            > span {
                color: #f44455;
                position: absolute;
                top: -5px;
                left: -5px;
            }
            >i{
                font-style: normal;
                color: #f44455;
            }

        }
        >small{
            display: block;
            text-indent: 1em;
        }
        >button{
            min-width: 110px;
        }
        .item-content{
            padding-left: 1em;
            min-height: 34px;
            display: flex;
            align-items: center;
            label{
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 0;
                margin-right: 1em;
            }
        }

    }
}