<div class="index-login">
    <header>
        <div class="uc-header-logo">
            <a href=""></a>
        </div>
    </header>
    <div class="uc-login" *ngIf="!showRepassword">
        <form #form="ngForm" role="form" (keydown.enter)="doSendMobileCode()">
            <h1>充电桩充电监控管理系统</h1>
            <div class="input">
                <label for="mobileNo">手机号码</label><br>
                <input type="text" autocomplete="off" id="mobileNo" placeholder="请输入手机号码" name="mobileNo"
                       [(ngModel)]="mobileNo" required>
            </div>
            <div class="input code">
                <label for="mobileNoidentifyCode">验证码</label><br>
                <input type="text" autocomplete="off" id="mobileNoidentifyCode" maxlength="5" placeholder="请输入验证码"
                       name="mobileNoidentifyCode" [(ngModel)]="mobileNoidentifyCode" required>
                <img [src]="identifyCodeSrc" #identifyCode (click)="reloadIdentifyCode()">
            </div>
            <div class="input">
                <button type="button" (click)="doSendMobileCode()" [ngClass]="{'isDisable': !form.form.valid}" class="btn btn-primary"
                        [disabled]="!form.form.valid">获取手机验证码
                </button>
                <button class="btn btn-info" (click)="goBack()">返回</button>
            </div>
        </form>
    </div>
    <div class="uc-login" *ngIf="showRepassword">
        <form #form="ngForm" role="form" (keydown.enter)="doResetPwd()">
            <h1>充电桩充电监控管理系统</h1>
            <div class="input">
                <label for="mobileNo1">手机号码</label><br>
                <input type="text" autocomplete="off" id="mobileNo1" placeholder="请输入手机号码" name="mobileNo" [(ngModel)]="mobileNo" required disabled>
            </div>
            <div class="input">
                <label for="password">密码</label><br>
                <input type="password" autocomplete="off" id="password" placeholder="请输入密码" name="password"
                       [(ngModel)]="password" required>
            </div>
            <div class="input">
                <label for="repassword">重复密码</label><br>
                <input type="password" autocomplete="off" id="repassword" placeholder="请输入密码" name="repassword"
                       [(ngModel)]="repassword" required>
            </div>
            <div class="input">
                <label for="mobileNoCode">手机验证码</label><br>
                <input type="password" autocomplete="off" id="mobileNoCode" placeholder="请输入手机验证" name="mobileNoCode"
                       [(ngModel)]="mobileNoCode" required>
            </div>
            <div class="input">
                <button type="button" (click)="doResetPwd()" [ngClass]="{'isDisable': !form.form.valid}" class="btn btn-primary"
                        [disabled]="!form.form.valid">重置密码
                </button>
                <button class="btn btn-info" (click)="goBack()">返回</button>
            </div>
        </form>
    </div>
</div>

