<aside [ngClass]="{'shrunken':isShrinked}">
    <div>
        <img src="/assets/images/banner-logo.png" alt="">
        <!--<img src="/assets/images/banner-logo-min.png" alt="">-->
    </div>
    <ul>
        <li *ngFor="let menuItem of menu">
            <a [routerLink]="menuItem.href"
               *ngIf="(!menuItem.hasSubmenu || menuItem.hideSubmenu)&&menuItem.show" (click)="showSubmenu(menuItem.title)"
               [ngClass]="{'actived':menuItemSelected[menuItem.title]}">
                <i class="uc-icon-{{menuItem.icon}}"></i>
                {{menuItem.name}}</a>
            <a *ngIf="menuItem.hasSubmenu && menuItem.show && !menuItem.hideSubmenu" class="folded" (click)="showSubmenu(menuItem.title)"
               [ngClass]="{'actived':menuItemSelected[menuItem.title]}">
                <i class="uc-icon-{{menuItem.icon}}"></i>
                {{menuItem.name}}
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul *ngIf="menuItem.hasSubmenu" [ngClass]="{'showSubMenu': isShowSubmenu[menuItem.title]}">
                <ng-container *ngFor="let subMenuItem of menuItem.submenu">
                    <li *ngIf="subMenuItem.show">
                        <a [routerLink]="menuItem.title+'/'+subMenuItem.href" routerLinkActive="actived">{{subMenuItem.name}}</a>
                    </li>
                </ng-container>
            </ul>
        </li>
    </ul>
</aside>

