form {
    padding: 16px;
    padding-bottom: 0;
    background: #fff;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-bottom: none;
    background: white;

    > div {

        > label {
            font-size: 14px;
            font-weight: 500;
            position: relative;

            > span {
                color: #f44455;
                position: absolute;
                top: -5px;
                left: -5px;
            }

        }
        >button{
            min-width: 110px;
        }

    }
}
.editor{
    background: white;
    padding: 16px;
    border: 1px solid #dfdfdf;
    border-top: none;
    margin-top: -25px;
    >button{
        margin-top: 16px;
        min-width: 80px;
    }
}