.uc-page-top{
    width: calc(100% - 200px);
    height: 56px;
    background: #FFF;
    box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);
    position: fixed;
    top: 0;
    margin-left: 200px;
    transition: all 0.1s;
    z-index: 9999;
    &.shrunken{
        margin-left: 56px;
        width: calc(100% - 56px);
    }
    .menu-current{
        height: 100%;
        float: left;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        li{
            height: 100%;
            color: rgba(0,0,0,.75);
            font-size: 16px;
            font-weight: 700;
            padding-right: 14px;
            display: flex;
            align-items: center;
            &:first-child{
                padding-left: 16px;
                cursor: pointer;
            }
            a{
                color: #333;
                cursor: pointer;
            }
        }
    }
    .user{
        float: right;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .user-title{
            margin-top: 6px;
            padding: 6px;
            border: 1px solid #f0f0f8;
            display: flex;
            align-items: center;
            img{
                height: 30px;
            }
            b{
                margin-left: 8px;
                color: #555;
            }
            i{
                transition: all 0.1s;
                margin-left: 5px;
                &.overturn{
                    transform: rotate(-180deg);
                }
            }
        }
        .user-dropdown{
            width: 180px;
            box-sizing: border-box;
            margin-top: 6px;
            list-style: none;
            border-radius: 2px;
            padding: 0;
            z-index: 999;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
            overflow: hidden;
            position: relative;
            display: none;
            transition: all 0.4s;
            &.show{
                display: block;
            }
            .divider{
                background: #f1f3f6;
                height: 1px;
                overflow: hidden;
                background-color: #e5e5e5;
            }
            li {
                background: #fff;
                padding: 0 15px;
                a {
                    height: 40px;
                    width: 100%;
                    cursor: pointer;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    &:hover span{
                        color: #00a9e8;
                    }
                    i {
                        color: #333;
                        margin-right: 5px;
                        width: 18px;
                        height: 18px;
                    }
                    span {
                        color: #333;
                        font-size: 14px;
                    }
                    &:hover {
                        i {
                            color: #50C8EA;
                        }
                    }
                }
                &:hover{
                    background: #f5f5f5;
                }
                &:hover span{
                    color: #00a9e8;
                }
            }
        }

    }
}